* {
    margin: 0;
    padding:0;
}
body {
    width: 100%;
    height: 100vh;
}
.page {
    overflow-y: auto;
}
.container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 15% 60% 25%;
    grid-template-areas: "nav     nav"
                         "aside   footer"
                         "section section";
}
.side-content {
    grid-template-columns: 1fr 1fr;
}
.side-content img {
    grid-column: 2 / 3;
    width: 90%;
}
.side-content p {
    align-self: center;
}
.main-content {
    margin-top: -70px;
    padding: 0px;
    margin-left: 50px;
}
.main-content h1 {
    font-size: 38px;
}
.main-content p:first-child {
    font-size: 26px;
    line-height: 45px;
}
.main-content p:last-child {
    width: 80%;
    padding: 0 0 0 0;
}
.footer {
    flex-direction: column;
    height: 100%;
    border-radius: 50px 0 0 50px;
}
.footer div {
    border-radius: 25px 0 0 25px;
    width: 70%;
    height: 30%;
}
.footer div img {
    width: 140px;
    position: relative;
}
.modal__content {
    width: 300px;
}